@using Propeller.Mvc.Demo.ViewModels
@using Propeller.Mvc.Model.Adapters
@using Propeller.Mvc.View
@using Sitecore.Data.Fields
@using Sitecore.Web.UI.WebControls
@model Propeller.Mvc.Demo.ViewModels.CharacterViewModel
@{
    ViewBag.Title = Model.DisplayName;
}
@*********************
        Character View
    **********************@

<div class="row">
    <div class="col-xs-2">
        @Model.Render(p => p.Photo)
    </div>
    <div class="col-xs-10">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@Model.DisplayName</p>
                </div>
                <label class="col-sm-2 control-label">Species</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@Model.Render(p => p.Species)</p>
                </div>
                <label class="col-sm-2 control-label">Gender</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@Model.Render(p => p.Genger)</p>
                </div>
                <label class="col-sm-2 control-label">Affiliation</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@Model.Render(p => p.Affiliation)</p>
                </div>
                <label class="col-sm-2 control-label">Homeworld</label>
                <div class="col-sm-10">
                    <p class="form-control-static">
                        <a href="@(Model.GetItemReference<PlanetViewModel>(p => p.Homeworld).Url)">
                            @(Model.GetItemReference<PlanetViewModel>(p => p.Homeworld).DisplayName)
                        </a>
                    </p>
                </div>
                <label class="col-sm-2 control-label">Vehicle</label>
                <div class="col-sm-10">
                    <p class="form-control-static">
                        <a href="@(Model.GetItemReference<VehicleViewModel>(p => p.PrimaryTransporation).Url)">
                            @(Model.GetItemReference<VehicleViewModel>(p => p.PrimaryTransporation).DisplayName)
                        </a>
                    </p>
                </div>

                <label class="col-sm-2 control-label">Source</label>
                <div class="col-sm-10">
                    <p class="form-control-static">
                        <a href="@(Model.GetAs<GeneralLink>(p => p.ExternalLink).Url)">
                            @(Model.GetAs<GeneralLink>(p => p.ExternalLink).Desciption)
                        </a>
                    </p>
                </div>



            </div>
        </form>
    </div>
</div>